*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #2e2e2e;
}

::selection {
  background-color: #54b454;
  color: #fff;
}

.btn {
  padding: 1rem 3rem;
  outline: none;
  border: none;
  border-radius: 100px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 600;
  background-color: #000;
  font-family: inherit;
  font-size: 2rem;
  &:hover {
    background-color: #54b454;
    color: #fff;
  }
}
