.overlay {
  width: 100%;
  height: 100%;
  padding: 2rem 12.5rem;
  position: absolute;
  top: 0%;
  left: 0;
  background-color: #333;
  backdrop-filter: blur(10px);

  .bookNow {
    background-color: #fbfbfb;
    border-radius: 10px;
    padding: 2rem;
    height: 100%;
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .primary_heading {
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #54b454;
        font-weight: 900;
        cursor: pointer;
      }
      .close {
        width: 4rem;
        cursor: pointer;
      }
    }

    .progress {
      display: flex;
      justify-content: center;
      align-items: center;

      .numbers {
        padding: 1rem 2rem;
        width: 100rem;
        display: flex;
        justify-content: space-around;
        color: inherit;
        font-weight: 700;

        .number {
          display: flex;
          flex-direction: column;
          align-items: center;

          .span_text {
            display: block;
            text-transform: uppercase;
          }

          .span_num {
            font-size: 1.8rem;
            padding: 3px 13px;
            border: 3px solid #333;
            border-radius: 50%;
            margin-top: 1.5rem;
          }

          .one {
            padding: 3px 14px;
          }
        }
      }
    }

    .selectCar {
      display: flex;
      justify-content: space-evenly;
      margin-top: 5rem;
      align-items: center;

      .select {
        .form {
          padding: 1rem 2rem;
          .label {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 2.5rem;

            .vehicle {
              width: 30rem;
              font-family: inherit;
              text-transform: uppercase;
              font-weight: 700;
              color: inherit;
              background: transparent;
              border: 2px solid #54b454;
              padding: 1rem 1rem;
              font-size: 1.8rem;
              border-radius: 10px;
              margin-bottom: 2rem;
            }
            .vehicle .options {
              text-transform: uppercase;
              font-size: 1.6rem;
              background-color: #333;
              color: #fbfbfb;
            }
          }
          .box {
            display: flex;
            align-items: center;
            .checkbox {
              font-size: 2.5rem;
              font-weight: 700;
              text-transform: uppercase;
              .input {
                margin-right: 1rem;
                zoom: 1.5;
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
              }
            }
          }
        }
      }

      .selected_img {
        width: 65%;
        display: flex;
        justify-content: center;
        .selected_imgs {
          width: 65%;
        }
      }
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5rem;
      .btn {
        padding: 1rem 3rem;
        outline: none;
        border: none;
        border-radius: 100px;
        background-color: transparent;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.2s ease;
        font-weight: 600;
        background-color: #000;
        font-family: inherit;
        font-size: 2rem;

        .android {
          width: 2.5rem;
        }
      }

      .btn:hover {
        background-color: #54b454;
        color: #fff;
      }
    }
  }
}

.hidden {
  display: none;
}
